.title {
  padding: 20px;
  color: $cor-s;
}

.box {
  display:flex;
  justify-content: center;
  height: 250px;
  margin-top: 80px;
  background: $cor-s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .conteudo {
      display:flex;
    }
}

