@import "_variables.scss";

body {
  background: $cor-bg;
  .header {
    height: 100px;
    background: $cor-p;

    .logo {
      margin: 10px 50px;
    }
  }
 

  .inpt-pesquisar {
    margin-top: 50px;
  }

  .filter {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    margin-top: 30px;
  }

  .tbl-alunos {

    margin: 30px 0;
    th {
      padding: px;
      color: $cor-s;
      background: $cor-th;
    }
    tr:nth-child(even) {background: $cor-tr}
    tr:nth-child(odd) {background: $cor-s}
      a {
        color: $cor-i;
        width: 35px;
        height: 35px;
        padding: 5px 8px;
        margin: 0 5px;
  
        border: 1px solid $cor-b;
        background: $cor-btn;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
  
        box-shadow: 0px 4px 4px $cor-shadow;
  
        font-size: 20px;
        text-align: center;

        &:hover {
          background: $cor-i;
          color:$cor-btn;
          transition: .3s ease-out; 
        }
      }
      

    
  }



  footer {
    display: flex;
    align-items: center;
    height: 50px;
    background: $cor-p;
    color: $cor-s;

    .options {
      padding: 0 10px;
      color:$cor-s;
      text-decoration: none;
      
    }
  }

  
}