body {
  background: #E5E5E5;
  .header {
    height: 100px;
    background: #A55656;

    .logo {
      margin: 10px 50px;
    }
  }
 

  .inpt-pesquisar {
    margin-top: 50px;
  }

  .tbl-alunos {
    margin-top: 50px;

    th {
      padding: px;
      color: white;
      background: rgb(148, 148, 148);
    }
    tr:nth-child(even) {background: #D1D0D0}
    tr:nth-child(odd) {background: #FFF}

    .btn {
 
      width: 35px;
      height: 35px;
      padding: 0px 5px;

      border: 1px solid #000000;
      background: #DFDFDF;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;

      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      font-size: 20px;
      text-align: center;
      a {
        color: #737373;
      }
     

    }
  }

  footer {
    background: black;
  }

  
}