
th:last-child {
  text-align: center;

}

.actions {
  display:flex;
  justify-content: space-around;

  .edit,.delete {
    font-size: 18px;
    color: $cor-btn2;
    cursor: pointer;
  }

  .edit{
    &:hover {
      color:blue;
    }
  }

  .delete{
    &:hover {
      color: red;
    }
  }
}

.btn-gerenciar {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;

  padding: 10px 10px;
  border-radius: 3px;
  border: 1px solid $cor-btn2;


  color: $cor-s;
  background: $cor-btn2;
  box-shadow:inset 0px 4px 4px $cor-shadow;

 

  &:hover {
    text-decoration: none;
    color:$cor-s
 }
}