@import "variables.scss";
@import "bootstrap.scss";
@import "login.scss";



body {
  background: $cor-bg;
  min-height: 100vh;
  
  .cabecalho {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: $cor-p;
    color: $cor-s;

    .logo {
      margin: 10px 50px;
    }
  }
 

  .inpt-pesquisar {
    margin-top: 50px;
  }

  .filter {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
    margin-top: 30px;
  }



  .tbl-alunos {
    margin-top: 40px;

    .table-main {
      margin-top: 15px;

      th {
        background-color: $cor-th;
        color: $cor-s;
        text-transform: uppercase;
      }
      
      .document-btn {
        color: $cor-i;
        width: 35px;
        height: 35px;
        padding: 5px 8px;
        margin: 0 5px;
    
        border: 1px solid $cor-i;
        background: $cor-btn;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
    
        box-shadow: 0px 4px 4px $cor-shadow;
    
        font-size: 20px;
        text-align: center;
    
        &:hover {
          background: $cor-i;
          color:$cor-btn;
          transition: .3s ease-out; 
        }
      }

      @media (max-width: 425px) 
      {
       
        .document-btn {
          padding: 0px;
          margin: 0;
          border: none;
          box-shadow: none;
          background: none;
        }
    
      }
      
    }

   

  }

  footer {
    display: flex;
    align-items: center;

    height: 50px;
    background: $cor-p;
    color: $cor-s;

    .options {
      padding: 0 10px;
      color:$cor-s;
      text-decoration: none;
      i {
        padding: 0 10px;
      }
    }
  }
 
}